<%- include('partials/head')%> <%- include('partials/Navbar')%>

<h1>The Home Page <%= 'hello world'.toUpperCase() %></h1>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus ea velit
  placeat laudantium quia, asperiores nobis, ullam accusamus ratione aut
  repellat ducimus tenetur unde commodi saepe aperiam sequi explicabo delectus?
  Quidem suscipit consequatur ratione est veniam beatae possimus ut expedita
  ipsam voluptas quam, aperiam velit! Nostrum tenetur veritatis, velit voluptas
  dolorem at voluptatibus quia, ad rem quas aut delectus est! Hic accusamus
  officia repudiandae omnis ullam, rerum quo? Ipsum aspernatur, magnam fugiat
  dolorum illo quos mollitia. Molestiae aliquam, exercitationem ab reiciendis
  esse, culpa pariatur aspernatur quisquam architecto, reprehenderit alias odit!
</p>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore quos atque
  enim ad blanditiis est? Odit quibusdam illo sapiente reiciendis, molestias, ab
  quas quis nisi quod temporibus corporis sequi sed.
</p>
<%- include('partials/footer')%>
